:host {
    > .books-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        > .book {
            width: 300px;
            padding: 16px;
            box-sizing: border-box;

            > mat-card {
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
}
