/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

$primary-dark: #30343f;
$primary-white: #fff0ef;

html, body {
    height: 100%;
    margin: 0;
    color: $primary-white;
    background-color: $primary-dark;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
